$color-primary: #fdab2b;
$color-secondary: #ef9b39;
$color-background: #131313;
$color-text-primary: #fff;
$color-text-secondary: #c4c4c4;
$color-text-dark: #000;

$border-radius: 5px;

$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Mohave', #{ $font-family-primary };
