@import '../../styles/utilities/utils';

.pizza-section {
  display: flex;
  padding-bottom: 1em;

  .image {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/pizza.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .name {
    color: $color-text-primary;
    font-weight: 700;
  }
}

.ingredients-list {
  margin-bottom: 30px;
  color: $color-text-secondary;
  font-family: $font-family-primary;
  font-size: 14px;
  font-weight: 400;

  > *:not(:last-child)::after {
    content: ', ';
  }
}
