@import '../../styles/utilities/utils';

.select {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #{$color-primary};
  appearance: none;
  background: 0;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-position-x: calc(100% - 10px);
  background-position-y: 10.5px;
  background-repeat: no-repeat;
  border-radius: $border-radius;
  color: $color-text-primary;

  .option {
    background-color: $color-background;
  }
}
