@import '../../styles/utilities/utils';

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background: linear-gradient(90deg, #{$color-primary}, #{$color-secondary});
  border-radius: $border-radius;
  color: $color-text-dark;
  font-family: $font-family-primary;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;

  svg {
    margin-right: 0.5em;
  }

  &.secondary {
    border: 1px solid #{$color-primary};
    background: 0;
    color: $color-primary;
  }

  .spinner {
    position: absolute;
    top: 50%;
    left: 0.75em;
    padding: 0 1em 0 0;
    opacity: 100%;
    transform: translateY(-50%);

    .lds-ring {
      display: flex;
      width: 1.25em;
      height: 1.25em;
      align-items: center;
      justify-content: center;
      transform: scale(0.25);

      div {
        border: 8px solid #{$color-text-dark};
        border-color: #{$color-text-dark} transparent transparent;
      }
    }
  }
}
